.top {
  display: inline-block;
  width: 100%;
}

.topright {
  float: right;
}
.search {
  display: inline-block;
  float: left;
}
form {
  float: left;
  margin-left: 2rem;
}
input {
  text-indent: 30px;
}

.addicon svg {
  margin: 15px;
  position: absolute;
}
